/* Cascading Style Sheet for http://www.csc.liv.ac.uk/~matt/ */

/* Thanks to Wikipedia for External.png */
/* http://en.wikipedia.org/wiki/Image:External.png */

h3.pubtype
{
	/*margin-left: 3%;*/
}

ul.pubtype
{
	/*margin-left: 3%;*/
}

body
{
	font-family: calibri,helvetica,sans-serif;
	background: #383838;
	/*background-image: url(./gradient4.jpg);*/
/*	background-attachment: fixed;*/
	/*background-repeat: repeat-x; */
	color: #ededed;
	/*margin-left: 0.5em;*/
	text-align:justify;
	margin-left: 5%;
	margin-right: 5%;
	
}

p
{
	margin-left: 1em;
	margin-right: 1em;
	
}

hr
{
	color: white;	
}

a:link
{
	color: white;	
}

a:visited
{
	color: #e0e0e0;	
}

a.external
{

}

h1,h2,h3,h4
{
	font-family: century gothic,helvetica,sans-serif;
	font-weight:normal;
	color: #8abacb;
}

h1
{
	text-align: center;	
	font-size: 200%;
	padding:0em;

}	

h1.frontpage
{
	text-align: center;	
	font-size: 240%;
	padding:0em;

}	

h2
{
	font-size:150%;	
}


h3
{
	font-size:120%;	
}

li.publication
{
	margin-top: 2em;
}

li.research
{
	margin-bottom: 1em;
}

a.pubtitle
{
	font-weight: bold;
}

span.pubtitle
{
	font-weight: bold;
}

span.pdflink
{
	font-size: 80%;
}

span.subject
{
	font-weight:bold;
/*	font-variant: small-caps; */
}

.title
{
	text-align: center;
}	

address 
{
	margin-left: 1em;
}

.quote
{
	margin-left: 2%;	
	font-style: italic;
}

.quote-who
{
	text-align: right;
}

	
img
{
	border: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}

.centerImage
{
	text-align: center;
}

.inlineImage
{
	float: right;
	margin-left: 1em;
	margin-top: 1em;	
	margin-bottom: 1em;	
}

.rightImage
{
	float: right;
	margin-left: 1%;
	margin-top: 1%;	
	margin-bottom: 1%;	
}

.centered
{
	text-align: center;
}

.logo
{
	color:#003184;
	text-align: center;
	text-decoration: none;
	font-family: times;	
}

a.logo
{
	color:#003184;
	text-align: center;
	text-decoration: none;
	font-family: times;	
}


.copyright
{
	font-size: 80%;
	text-align: right;
	font-style: italic;
}

p.subtitle
{
	text-align: center;
	color: #8abacb;
	font-family: century gothic,helvetica,sans-serif;
	margin-bottom:1.5em;
	font-size:100%;	
}

h2.subtitle
{
	text-align: center;
	
}

a.bottomtitle 
{
	font-family: century gothic,helvetica,sans-serif;
	color: #8abacb;
	font-size:100%;		
	
}


a.subtitle 
{
	font-family: century gothic,helvetica,sans-serif;
	color: #8abacb;
	margin-left:.5em;
	margin-right:.5em;
}

pre,tt
{
	font-family: lucida, monospace;	
}
